<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevBook - Login</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>

  <div class="contaienr-login">
    <div>
      <form action="" class="devbook-form" id="login">
        <span>Seja bem vindo ao Devbook!</span>
        <div>
          <input type="text" name="email" id="email" required="required" placeholder="email">
        </div>
        <div>
          <input type="text" name="senha" id="senha" required="required" placeholder="senha">
        </div>
        <a href="/criar-usuario">Clique aqui para criar sua conta</a>
        <button type="submit" class="btn-devbook">Login</button>
      </form>
    </div>
  </div>
  <p>Página de login 01</p>
  
</body>
</html>